body {
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    margin-right: 10px;
    width: 70px;
}

.navBar {
    background-color: #112D4E;
}

main {
    flex-grow: 1;
    position: relative;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #112D4E;
    color: white;
}

footer img {
    margin-bottom: 20px;
}

.container {
    width: 100%;
}
