h2 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 5px;
    color: #333;
}

select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}



.tutor-box,
.testimonial-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: #DBE2EF;
}

.course-box {
    background-color: #DBE2EF;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.course-box img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.course-box h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
    color: #112D4E;
    font-weight: bold;
}

.course-box p {
    margin: 5px 0 15px 0;
    color: #555;
}

.btn-course {
    margin-top: auto;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #112D4E;
    text-decoration: none;
    color: #fff;
    ;
    border-radius: 10px;
}

.btn-course:hover {
    background-color: #081524;

}

.course-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin-bottom: 15px;
}

.select {
    width: 200px;
}

.calculator-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #DBE2EF;
    max-width: 100%;
    margin: 0 auto;
}

.value {
    font-weight: bold;
    color: #003366;
    margin-right: 10px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 100ms;
}

.add-course-btn {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.reserve-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #002366;
    min-width: 200px;
    transition-duration: 300ms;
}

.add-course-btn:hover {
    transition-duration: 300ms;
}

.reserve-btn.reserve-btn:hover,
.add-course-btn:hover,
.delete-btn:hover {
    scale: 1.05;
}



.course-box img,
.tutor-box img {
    max-width: 100%;
    border-radius: 5px;
}

.btn-course {
    margin-top: 10px;
    display: inline-block;
}

.card {
    background-color: #DBE2EF;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-card p {
    font-style: italic;
    color: #4a4a4a;
    margin-bottom: 1rem;
}

.testimonial-card h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #1a2a52;
}

.testimonial-card span {
    display: block;
    font-size: 0.875rem;
    color: #4a4a4a;
}

.arrow {
    font-size: 1.5rem;
    color: #4a4a4a;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.arrow:hover {
    color: #1a2a52;
}

/* Modal básico */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    margin-top: 10px;
}

#successMessage {
    text-align: center;
    font-size: 24px;
    color: green;
}

.cardType {
    margin-top: 15px;
}


.button-container {
    display: flex;
    justify-content: center;
    /* Centra los botones horizontalmente */
    gap: 10px;
    /* Espacio entre los botones */
    margin-top: 20px;
    /* Espacio por encima de los botones */
}



@media (max-width: 576px) {

    .course-box h3 {
        font-size: 1.1rem;
    }

    .course-box p {
        font-size: 0.85rem;
    }

    .btn-course {
        padding: 6px;
        font-size: 0.8rem;
    }

    .course-box {
        margin-bottom: 15px;
    }

    .course-row select,
    .course-row .value,
    .course-row .delete-btn {
        font-size: 14px;
    }

    .add-course-btn,
    .calculate-btn,
    .reserve-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}