/* Estilos personalizados */
h1 {
    color: #112D4E;
    font-weight: bold;
}

.card-body {
    background-color: #DBE2EF;
    border-radius: 5px;
    border: none !important;
}

.form{
    background-color: #DBE2EF;
    padding: 20px;
    border-radius: 10px;
}

.form label {
    margin-bottom: 10px;
}

.form input{
    margin-bottom: 10px;
    border-radius: 10px;
}

.form textarea{
    border-radius: 10px;
    margin-bottom: 10px;
}

.form select{
    margin-bottom: 10px;
    border-radius: 10px;
    appearance: auto; 
    -moz-appearance: auto;
}

.filtro-tema-div{
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 10px; 
}

.filtro-tema-div select {
    border-radius: 10px;
    appearance: auto; 
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

.form button {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
}

.container-comentarios {
    border: #112D4E 1px solid;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
    color: #112D4E;
}
  
.form-group label span {
    color: red;
}
  
.btn-primary {
    background-color: #3F72AF;
    border: none;
}
  
.btn-primary:hover {
    background-color: #2C5D99;
}
  
.card-title {
    font-weight: bold;
    color: #112D4E;
    display: flex; /* Convierte el contenedor en un flexbox */
    justify-content: space-between; /* Distribuye los elementos a ambos extremos */
    align-items: center; /* Alinea verticalmente en el centro */
    font-weight: bold;
    color: #112D4E;

}

.card-title small {
    font-weight: normal; 
    color: #112D4E; 
}
  
.text-muted {
    font-size: 0.875rem;
    text-align: end;
    display: flex;
    justify-content: flex-end; 
}


.mensaje-vacio {
    background-color: #DBE2EF;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.1em;
    color: #112D4E;
    border-radius: 8px;
    display: none; 
  }
  

  .mensaje-exito {
    background-color: #28a745;
    color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    display: block; 
  }



@media (max-width: 400px) {
    .card-title {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .card-title small {
        text-align: left; 
        margin-top: 5px; 
    }
  
      
}