.negrita{
    font-weight: bold; 
    margin: 30px;
}

.lead {
    color: #112D4E;
}


@media (max-width: 768px) {
    .servicios img {
        margin-top: 40px;
    }

    .negrita {
        margin: 40px;
    }

  }