.negrita{
    font-weight: bold; 
    margin: 30px;
}

.lead {
    color: #112D4E;
}


@media (max-width: 1000px) {
    .servicios img {
        width: 140px;
        height: 140px;
    }
  }


@media (max-width: 768px) {
    .negrita {
        padding-bottom: 20px;
    }

    .servicios img {
        width: 150px;
        height: 150px;
        padding-top: 20px;
    }

  }