/* General */
body {
    background-color: #f9f9f9;
}

h2 {
    font-size: 1.5rem;
    color: #1d1d1f;
}

.metodo-pago {
    background-color: #e7effb;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.imagenes-medios {
    display: flex;
    justify-content: center !important;  
    align-items: center;
    gap: 80px; 
    flex-wrap: wrap; 
}

.logo {
    max-height: 200px;
    max-width: 200px;
    object-fit: contain; 
}

.fw-bold {
    font-weight: 600;
}

@media (max-width: 1200px) {

    .logo {
        max-height: 150px;
        max-width: 150px;
    }
}

.container {
    margin-bottom: 30px;
}


@media (max-width: 1024px) {
    .metodo-pago {
        justify-content: center;
    }

    .imagenes-medios {
        justify-content: center !important;
        gap: 20px;
    }

    .logo {
        max-height: 100px;
        max-width: 100px;
    }
}

@media (max-width: 768px) {
    .metodo-pago {
        flex-direction: column; 
    }

    .imagenes-medios {
        justify-content: center !important;
        gap: 10px;
        flex-wrap: nowrap;
        overflow-x: auto; 
    }

    .logo {
        max-height: 80px;
        max-width: 80px;
    }
}
