h2 {
    color: #112D4E; 
}

.accordion-button {
    background-color: #f8f9fa;
    color: #112D4E;
    font-weight: bold;
    border: none;
    font-size: 20px;
}

.accordion-button:not(.collapsed) {
    background-color: #e3ecfb;
    color: #112D4E;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none;
}

.accordion-body {
    color: #112D4E;
    background-color: #f8f9fa;
    font-size: 20px;
}

@media (max-width: 768px) {
    .accordion-button {
        font-size: 15px;
    }

    .accordion-body {
        font-size: 15px;
    }
}