.resource-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.resource-box img {
    width: 100%;
    height: auto;
}

.resource-text {
    background-color: #112D4E;
    text-align: center;
}

.resource-text h3, p{
    color:#ffffff
}