.text-center {
    text-align: center;
}

/* Reservas Section */
.reservas {
    padding: 20px;
    max-width: auto;
    margin: 0 auto;
}

.reservas h1 {
    color: #112D4E;
    margin-bottom: 20px;
}

.clases-header {
    background-color: #112D4E; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    text-align: center;
}

.clases-header h2 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.clases-disponibles {
    background-color: #ffffff; 
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clases-disponibles h2 {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Clase Card */
.clase-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DBE2EF; 
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.clase-card p {
    margin: 0 5px;
    font-size: 0.95rem;
    color: #333;
    min-width: 200px;
    margin-left: 0px;
}

.reservar-btn {
    margin-left: 20px;
    background-color: #112D4E;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservar-btn:hover {
    background-color: #3F72AF;
}

#paymentModal select{
    margin-top: 10px;
}

.button-container button{
    margin: 10px;
    min-width: 100px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast {
    background-color: #3F72AF;
    color: white;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s, transform 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast-close-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
}

.toast-close-btn:hover {
    color: #f44336;
}

.toast-message {
    flex-grow: 1;
    margin-right: 10px; 
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .clases-disponibles {
        width: auto;
        height: auto;
    }

    .clase-card p {
        min-width: auto;
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .clases-disponibles {
        width: auto;
        height: auto;
    }

    .clase-card p {
        min-width: auto;
        font-size: 13px;
    }
}


@media (max-width: 576px) {
    .clase-card {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .reservar-btn {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
}